@font-face {
  font-family: "ProbaPro";
  src: url("fonts/ProbaPro-Medium.woff");
  src: url("fonts/ProbaPro-Medium.woff2") format("woff2"),
    url("fonts/ProbaPro-Regular.woff") format("regular"),
    url("fonts/ProbaPro-Regular.woff2") format("regular-woff2");
}
body {
  background-image: url("/html-and-css/assets/background.jpg");
  background-position: top;
  background-size: cover;
  font-family: "ProbaPro", sans-serif;
}
nav {
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.nav-bar {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 8rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.hero {
  text-align: center;
}
h1 {
  font-size: 64px;
  font-weight: 400;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  p {
    max-width: 24rem;
  }
}
h2 {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}
.tech-column {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.tech-row {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: large;
  }
  li {
    font-size: x-small;
    text-align: left;
  }
}
